cmake
wheel
numpy>1.2
hydra-core==1.1.1
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
pyhash
pytorch-lightning==1.4.9
# pip3 install torch==1.13.0+cu117 --extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.0+cu117
pytorch-cuda==11.7
torchvision
MulticoreTSNE
gitpython
scipy
sentence-transformers
setuptools==65.5.0
gym
moviepy
tqdm
termcolor
wandb
