
cmake
wheel
numpy>1.2
hydra-core==1.1.1
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
setuptools<58
pyhash
# pip3 install torch==1.13.0+cu117 --extra-index-url https://download.pytorch.org/whl/cu117
--find-links https://download.pytorch.org/whl/cu117
torch==1.13.0 #+cu117
torchmetrics==0.7.0
pytorch-lightning==1.8.3.post1
torchvision
MulticoreTSNE
gitpython
scipy
sentence-transformers
gym
moviepy
tqdm
termcolor
wandb
